body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

select {
    width: 15%; /* Adjust the percentage as needed */
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



#crafting-area {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-left: 5px solid #2196F3; /* Blue */
}
